# Verification - forensics

## Case

People keep trying to trick my players with imitation flags. I want to make sure they get the real thing! I'm going to provide the SHA-256 hash and a decrypt script to help you know that my flags are legitimate.

Challenge files can be downloaded via: https://artifacts.picoctf.net/c_rhea/21/challenge.zip

## Solution

